.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.image-size {
    width: 240px ;
    height: 220px;
    margin-top: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

#about-us label{
    font-size: 16px;
}

#about-us .about-us-title {
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(45deg, #ffe42d, #cd7656);
}

#intro .intro-title {
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(45deg, #ffe42d, #cd7656);
}

#intro label{
    font-size: 16px;
}

#thumbnail-image img{
    width: 280px;
    height: 220px
}

@media (max-width: 736px) {
    #thumbnail-image img{
        width: 180px;
        height: 120px
    }
}

#cover-image img{
    width: 380px;
    height: 320px
}

@media (max-width: 736px) {
    #cover-image img{
        width: 200px;
        height: 140px
    }
}

